body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Bebas Neue', cursive;
}

p {
	margin: 0;
	font-family: 'Outfit', sans-serif;
}

h1 {
	padding: 20px 0;
	font-size: 60px;
	color: white;
}

h3 {
	color: #2e2f42;
	font-size: 25px;
}

header {
	padding: 20px 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	padding: 20px 200px;
	background: rgb(46, 47, 66);
}

ul {
	margin: 0;
	list-style-type: none;
}

.p__description {
	padding: 0 20px;
}

.button {
	background: rgb(46, 47, 66);
	border: solid 2px white;
	border-radius: 2px;
	padding: 10px 40px;
	font-family: 'Outfit', sans-serif;
	color: white;
	font-size: 15px;

	transition: padding .1s linear, border-radius .1s linear;
}

.button:hover {
	border-radius: 5px;
	padding: 10px 44px;
}

.button1 {
	background: rgb(244, 244, 253);
	border: solid 2px rgb(244, 244, 253);
	border-radius: 2px;
	padding: 10px 40px;
	margin: 0 20px;
	font-family: 'Outfit', sans-serif;
	color: rgb(77, 90, 229);
	font-size: 17px;

	transition: color .1s linear, background .1s linear;
}

.button1:hover {
	color: white;
	background: rgb(77, 90, 229);
}

.nav {
	text-align: center;
	display: inline-flex;
	align-items: center;
}

.nav__point {
	color: #2e2f42;
	font-family: 'Outfit', sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	padding: 0 40px;
}

.contacts {
	list-style-type: none;
	display: inline-flex;
}

.logo {
	color: rgb(77, 90, 229);
}

.logo__button {
	color: #2e2f42;
	text-decoration: none;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-size: 30px;
}

.logo__button2 {
	color: white;
	text-decoration: none;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-size: 30px;
}

.section__1 {
	background: rgb(46, 47, 66);
	padding: 300px 0;
	text-align: center;
}

.section__2 {
	text-align: center;
	padding: 0 200px;
}

.section__3 {
	text-align: center;
	padding: 0 200px;
	background: rgb(244, 244, 253);
}

.section__description {
	color: #2e2f42;
	padding: 30px 0;
	font-size: 40px;
}

.main__description {
	display: inline-flex;
	padding: 50px 0;
}

.main__description2 {
	display: inline-flex;
	padding: 20px 0 50px;
}

.main__point {
	text-align: left;
	padding: 0 50px;
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
}

.main__point2 {
	border-radius: 2px 2px 0 0;
	text-align: left;
	margin: 0 50px;
	padding: 5px 20px 0;
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
	background: white;
}

.main__point3 {
	border-radius: 0 0 2px 2px;
	text-align: left;
	margin: 0 50px;
	padding: 0 20px 5px;
	font-family: 'Outfit', sans-serif;
	font-size: 20px;
	background: white;
}

.section__3__title {
	padding: 30px 0 10px 0;
	font-size: 40px;
}

.footer__desription {
	padding: 20px 0;
	color: white;
	font-size: 15px;
	text-align: left;
	font-family: 'Outfit', sans-serif;
}

.list {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.list1 {
	display: flex;
	justify-content: center;
}

.list2 {
	display: flex;
	justify-content: center;
}

.list3 {
	display: flex;
	justify-content: center;
}

.list__description {
	padding: 5px 10px;
}

.link {
	margin: 20px;
}